# Node.js dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# TypeScript build output
dist/
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
api/scripts/cluster-log.txt

# IDE and editor folders
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Coverage reports
coverage/

# Docker volumes
postgres_data/

# Temporary files
tmp/
.tmp/
